<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
        <link rel="shortcut icon" href="https://nscsoft.com/images/logo.png" type="image/x-icon">
    <title>Hata!!!!!</title>
</head>
<body>
    <div class="d-flex align-items-center justify-content-center vh-100" style="background-color: #FCFBFA">
        <div class="text-center">
            <h1 class="display-1 fw-bold">ERROR!</h1>
            <p class="fs-3"> <span class="text-danger">Opps!</span> Page not found.</p>
            <p class="lead">
                Try Again or Please Contact Admin.
            </p>
            
            <h4 class="pt-5">Error Key: </h4><p>{{e}}</p>
        </div>
    </div>
    
</body>
</html>