{% extends "base.html" %}
{% block title %}IP Block/Unblock {% endblock %}

{% block content %}
        <h3>SOAR</h3>
            <div class="articles">
                <article style="height: 100%; display: container; justify-content: center; align-items: center;">
                    <h4 style="text-align: center;">Block or Unblock Public IP</h4>
                    {% if error %}
                    <div class="error">
                        {{ error }}
                    </div>
                    {% elif success %}
                    <div class="success">
                        {{success}}
                    </div>
                    {% endif %}

                    {% if error_msg %}
                    <div class="error">{{error_msg}}</div>
                    {% endif %}

                    <form class="form-detail" id="" action="/block_unblock" method="POST">
                        <div >
                            <input type="text"
                                        pattern="^((\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.){3}(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$"
                                        name="block_ip" style="padding: 20px 15px; border-radius: 5px; display: block; justify-content: center; margin: auto; width: 500px;"
                                        placeholder="Please Enter IP Address" maxlength="15"> <br/>
                            <div class="input" style="display: flex; justify-content: space-evenly; align-items:center;">
                                <input type="submit" name="block" id="block" class="show-btn" value="Block IPs" style="width: 130px;">
                                <input type="submit" name="unblock" id="unblock" class="show-btn" value="Unblock IPs" style="width: 130px;">
                            </div>
                        </div>
                    </form>
                </article>
            </div>
 {% endblock %}
