{% extends "base.html" %}
{% block title %}Home {% endblock %}

{% block content %}
        <h3>NSC SOAR</h3>

        <div class="articles">
            <article style="text-align: center;">
                <h4>Welcome to NSC SOAR Application </h4> <br/>
                <a>Please Be Careful While Using the Application </a> <br/><br/>
                <img src="https://nscsoft.com/images/logo.png" class="img" style="width:160px;height:80px;"> <br/><br/>
                <span class="or" style="font-size:10px">All rights of this application are reserved. It is the only authorized <a href="https://nscsoft.com/">NSC Soft</a> company.</span>
            </article>
        </div>
    {% endblock %}
